<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PassportServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PassportServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://passport.wuxiapptec.sh.cn/passport.asmx"
                binding="basicHttpBinding" bindingConfiguration="PassportServiceSoap"
                contract="SSOWebService.PassportServiceSoap" name="PassportServiceSoap" />
            <endpoint address="http://passport.wuxiapptec.sh.cn/passport.asmx"
                binding="customBinding" bindingConfiguration="PassportServiceSoap12"
                contract="SSOWebService.PassportServiceSoap" name="PassportServiceSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
