<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MailCenterSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MailCenterSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx"
                binding="basicHttpBinding" bindingConfiguration="MailCenterSoap"
                contract="MailWebService.MailCenterSoap" name="MailCenterSoap" />
            <endpoint address="http://web2.wuxiapptec.sh.cn/servicecenter/mailcenter.asmx"
                binding="customBinding" bindingConfiguration="MailCenterSoap12"
                contract="MailWebService.MailCenterSoap" name="MailCenterSoap12" />
        </client>
    </system.serviceModel>
</configuration>