
<div js-draw style="width: 200px; height: 200px;border:1px solid gray" viewonly popup ng-model='mol'></div>
<div js-draw="{idMode:'static'}" id="mol1"  style="width: 200px; height: 200px;border:1px solid gray" viewonly popup ng-model='mol'></div>

<pre>{{mol}}</pre>

<button ng-click="showMol()"></button>


